<form [ngClass]="{'disabled': !selected}">
    <div class="form-section">
        <div class="form-group">
            <label for="{{'energyType'+modId+index}}">Emission Source Type</label>
            <div class="input-group">
                <select name="{{'energyType'+modId+index}}" class="form-control" id="{{'energyType'+modId+index}}"
                    [(ngModel)]="data.energyType" (change)="changeEnergyType()" [required]="true"
                    [disabled]="!selected">
                    <option [ngValue]="'fuel'">Fuel</option>
                    <option [ngValue]="'electricity'">Electricity</option>
                    <option [ngValue]="'mobile'">Mobile Emissions</option>
                    <option [ngValue]="'fugitive'">Fugitive Emissions</option>
                    <option [ngValue]="'custom'">Custom</option>
                </select>
            </div>
        </div>
    </div>

    <div class="form-section" *ngIf="data.energyType == 'fuel'">
        <div class="form-group">
            <label for="{{'energySource'+modId+index}}">Emission Source</label>
            <div class="input-group">
                <select name="{{'energySource'+modId+index}}" class="form-control" id="{{'energySource'+modId+index}}"
                    [(ngModel)]="data.energySource" (change)="setFuelOptions()" [required]="true"
                    [disabled]="!selected">
                    <option *ngFor="let option of otherFuels" [ngValue]="option.energySource">
                        {{option.energySource}}</option>
                </select>
            </div>
        </div>
    </div>

    <div class="form-section" *ngIf="data.energyType == 'fugitive'">
        <div class="form-group">
            <label for="{{'energySource'+modId+index}}">Fugitive Emission Source</label>
            <div class="input-group">
                <select name="{{'energySource'+modId+index}}" class="form-control" id="{{'energySource'+modId+index}}"
                    [(ngModel)]="data.energySource" (change)="setFugitiveOptions()" [required]="true"
                    [disabled]="!selected">
                    <option *ngFor="let option of fugitives" [ngValue]="option.energySource">
                        {{option.energySource}}</option>
                </select>
            </div>
        </div>
    </div>

    <div class="form-section" *ngIf="data.energyType == 'custom'">
        <div class="form-group">
            <label for="{{'energySource'+modId+index}}">Emission Source</label>
            <div class="input-group">
                <select name="{{'energySource'+modId+index}}" class="form-control" id="{{'energySource'+modId+index}}"
                    [(ngModel)]="data.energySource" (change)="setCustomOptions()" [required]="true"
                    [disabled]="!selected">
                    <option *ngFor="let option of customEmissions" [ngValue]="option.energySource">
                        {{option.energySource}}
                    </option>
                </select>
            </div>
        </div>
    </div>

    <div class="form-section" *ngIf="data.energyType == 'mobile'">
        <div class="form-group">
            <label for="{{'energySource'+modId+index}}">Emission Source</label>
            <div class="input-group">
                <select name="{{'energySource'+modId+index}}" class="form-control" id="{{'energySource'+modId+index}}"
                    [(ngModel)]="data.energySource" (change)="setMobileOptions()" [required]="true"
                    [disabled]="!selected">
                    <option *ngFor="let option of mobileEmissions" [ngValue]="option.energySource">
                        {{option.energySource}}</option>
                </select>
            </div>
        </div>
    </div>


    <div class="form-section" *ngIf="data.energyType == 'fuel'">
        <div class="form-group">
            <label for="{{'fuelType'+modId+index}}">Fuel Type</label>
            <div class="input-group">
                <select name="{{'fuelType'+modId+index}}" class="form-control" id="{{'fuelType'+modId+index}}"
                    [(ngModel)]="data.fuelType" (change)="setFuel()" [required]="true" [disabled]="!selected">
                    <option *ngFor="let option of fuelOptions" [ngValue]="option.fuelType">{{option.fuelType}}
                    </option>
                </select>
            </div>
        </div>
    </div>

    <div class="form-section" *ngIf="data.energyType == 'mobile'">
        <div class="form-group">
            <label for="{{'fuelType'+modId+index}}">Mobile Emission Type</label>
            <div class="input-group">
                <select name="{{'mobileType'+modId+index}}" class="form-control" id="{{'mobileType'+modId+index}}"
                    [(ngModel)]="data.mobileType" (change)="setMobile()" [required]="true" [disabled]="!selected">
                    <option *ngFor="let option of mobileOptions" [ngValue]="option.mobileType">{{option.mobileType}}
                    </option>
                </select>
            </div>
        </div>
    </div>

    <div class="form-section" *ngIf="data.energyType == 'electricity'">
        <div class="form-group">
            <label for="{{'eGridRegion'+modId+index}}">eGrid Region</label>
            <div class="input-group">
                <select name="{{'eGridRegion'+modId+index}}" class="form-control" id="{{'eGridRegion'+modId+index}}"
                    [(ngModel)]="data.eGridRegion" (change)="setRegion()" [required]="true" [disabled]="!selected">
                    <option *ngFor="let option of eGridRegions" [ngValue]="option.region">{{option.region}}</option>
                </select>
            </div>
        </div>
    </div>

    <div class="form-section" *ngIf="data.energyType == 'electricity'">
        <div class="form-group">
            <label for="{{'eGridSubregion'+modId+index}}">eGrid Subregion</label>
            <div class="input-group">
                <select name="{{'eGridSubregion'+modId+index}}" class="form-control"
                    id="{{'eGridSubregion'+modId+index}}" [(ngModel)]="data.eGridSubregion" (change)="setSubRegion()"
                    [required]="true" [disabled]="!selected">
                    <option *ngFor="let option of subregions" [ngValue]="option.subregion">{{option.subregion}}
                    </option>
                </select>
            </div>
        </div>
    </div>

    <div class="form-section" *ngIf="data.energyType == 'fugitive'">
        <div class="form-group">
            <label for="{{'fugitiveType'+modId+index}}">Fugitive Type</label>
            <div class="input-group">
                <select name="{{'fugitiveType'+modId+index}}" class="form-control" id="{{'fugitiveType'+modId+index}}"
                    [(ngModel)]="data.fugitiveType" (change)="setFugitive()" [required]="true" [disabled]="!selected">
                    <option *ngFor="let option of fugitiveOptions" [ngValue]="option.fugitiveType">
                        {{option.fugitiveType}}
                    </option>
                </select>
            </div>
        </div>
    </div>

    <div class="form-group" *ngIf="data.energySource == 'Fugitive' || data.energyType == 'fugitive'">
        <label for="{{'totalEmissionOutputRate'+modId+index}}">Global
            Warming Potential</label>
        <div class="input-group">
            <input name="{{'totalEmissionOutputRate'+modId+index}}" type="number" step="any" class="form-control"
                id="{{'totalEmissionOutputRate'+modId+index}}" (input)="save()"
                [(ngModel)]="data.totalEmissionOutputRate" onfocus="this.select();" [required]="true"
                [disabled]="!selected">
        </div>
    </div>

    <div class="form-group" *ngIf="data.energyType=='custom' && data.energySource != 'Fugitive'">
        <label for="{{'carbonOutput'+modId+index}}">CO<sub>2</sub> Emissions</label>
        <div class="input-group">
            <input name="{{'carbonOutput'+modId+index}}" type="number" step="any" class="form-control"
                id="{{'carbonOutput'+modId+index}}" (input)="save()" [(ngModel)]="data.totalEmissionOutputRate"
                onfocus="this.select();" [required]="true" [disabled]="!selected">
            <span class="input-group-addon units small" *ngIf="data.energyType != 'fugitive'">kg CO<sub>2</sub>/
                <span>{{data.customUnits}}</span>
            </span>
        </div>
    </div>
    <div class="form-group" *ngIf="data.energyType=='custom' && data.energySource != 'Fugitive'">
        <label for="{{'methaneOutput'+modId+index}}">CH<sub>4</sub> Emissions</label>
        <div class="input-group">
            <input name="{{'methaneOutput'+modId+index}}" type="number" step="any" class="form-control"
                id="{{'methaneOutput'+modId+index}}" (input)="save()" onfocus="this.select();" [required]="true"
                [(ngModel)]="data.methaneFactor" [disabled]="!selected">
            <span class="input-group-addon units small" *ngIf="data.energyType != 'fugitive'">g CH<sub>4</sub>/
                <span>{{data.customUnits}}</span>
            </span>
        </div>
    </div>
    <div class="form-group" *ngIf="data.energyType=='custom' && data.energySource != 'Fugitive'">
        <label for="{{'nitrousOutput'+modId+index}}">N<sub>2</sub>O Emissions</label>
        <div class="input-group">
            <input name="{{'nitrousOutput'+modId+index}}" type="number" step="any" class="form-control"
                id="{{'nitrousOutput'+modId+index}}" (input)="save()" onfocus="this.select();" [required]="true"
                [(ngModel)]="data.nitrousFactor" [disabled]="!selected">
            <span class="input-group-addon units small" *ngIf="data.energyType != 'fugitive'">g N<sub>2</sub>O/
                <span>{{data.customUnits}}</span>
            </span>
        </div>
    </div>

    <div class="form-group">
        <label for="{{'energyUse'+modId+index}}">
            <span
                *ngIf="data.energyType == 'fuel' || (data.energyType == 'mobile' && data.energySource != 'Commuter Vehicles' && data.energySource != 'Transportation')">Fuel
                Use</span>
            <span *ngIf="data.energyType == 'electricity'">Electricity Use</span>
            <span *ngIf="data.energyType == 'fugitive' || data.energySource == 'Fugitive'">Gas Purchased</span>
            <span *ngIf="data.energyType == 'custom' && data.energySource != 'Fugitive'">Energy Use</span>
            <span *ngIf="data.energyType == 'mobile' && data.energySource == 'Commuter Vehicles'">Distance</span>
            <span *ngIf="data.energyType == 'mobile' && data.energySource == 'Transportation'">Freight Hauled</span>
        </label>
        <div class="input-group">
            <input name="{{'energyUse'+modId+index}}" type="number" step="any" class="form-control"
                id="{{'energyUse'+modId+index}}" (input)="save()" [(ngModel)]="data.energyUse" onfocus="this.select();"
                [required]="true" [disabled]="!selected">
            <span class="input-group-addon units" *ngIf="data.energyType == 'fuel'">{{energyUnits}}</span>
            <span class="input-group-addon units" *ngIf="data.energyType == 'electricity'">MWh</span>
            <span class="input-group-addon units" *ngIf="data.energyType == 'mobile'">{{mobileUnits}}</span>
            <span class="input-group-addon units" *ngIf="data.energyType == 'fugitive'">{{fugitiveUnits}}</span>
            <span class="input-group-addon units" *ngIf="data.energyType == 'custom'">{{data.customUnits}}</span>
        </div>
    </div>
    <div *ngIf="data.energyType != 'custom' && data.energyType != 'fugitive'" class="d-flex w-100">
        <label class="w-50">
            Carbon Emissions
        </label>
        <label class="w-50 text-center" *ngIf="data.energyType == 'fuel'">
            {{data.carbonFactor | number:"0.0-2"}} kg CO<sub>2</sub>/{{energyUnits}}
        </label>
        <label class="w-50 text-center" *ngIf="data.energyType == 'electricity'">
            {{data.carbonFactor | number:"0.0-2"}} kg CO<sub>2</sub>/MWh
        </label>
        <label class="w-50 text-center" *ngIf="data.energyType == 'mobile'">
            {{data.carbonFactor | number:"0.0-2"}} kg CO<sub>2</sub>/{{mobileUnits}}
        </label>
    </div>
    <div *ngIf="data.energyType != 'custom' && data.energyType != 'fugitive'" class="d-flex w-100">
        <label class="w-50">
            Methane Emissions
        </label>
        <label class="w-50 text-center" *ngIf="data.energyType == 'fuel'">
            {{data.methaneFactor | number:"0.0-2"}} g CH<sub>4</sub>/{{energyUnits}}
        </label>
        <label class="w-50 text-center" *ngIf="data.energyType == 'electricity'">
            {{data.methaneFactor | number:"0.0-2"}} kg CH<sub>4</sub>/MWh
        </label>
        <label class="w-50 text-center" *ngIf="data.energyType == 'mobile'">
            {{data.methaneFactor | number:"0.0-2"}} kg CH<sub>4</sub>/{{mobileUnits}}
        </label>
    </div>
    <div *ngIf="data.energyType != 'custom' && data.energyType != 'fugitive'" class="d-flex w-100">
        <label class="w-50">
            Nitrous Oxide Emissions
        </label>
        <label class="w-50 text-center" *ngIf="data.energyType == 'fuel'">
            {{data.nitrousFactor | number:"0.0-2"}} g NO<sub>2</sub>/{{energyUnits}}
        </label>
        <label class="w-50 text-center" *ngIf="data.energyType == 'electricity'">
            {{data.nitrousFactor | number:"0.0-2"}} kg NO<sub>2</sub>/MWh
        </label>
        <label class="w-50 text-center" *ngIf="data.energyType == 'mobile'">
            {{data.nitrousFactor | number:"0.0-2"}} kg NO<sub>2</sub>/{{mobileUnits}}
        </label>
    </div>
</form>