<form [ngClass]="{'disabled': !selected}">
    <div class="form-section">
        <div class="form-group">
            <label for="{{'energyType'+modId+index}}">Emission Source Type</label>
            <div class="input-group">
                <select name="{{'energyType'+modId+index}}" class="form-control" id="{{'energyType'+modId+index}}"
                    [(ngModel)]="data.energyType" (change)="changeEnergyType()" (focus)="focusField('energyType')"
                    [required]="true" [disabled]="!selected">
                    <option [ngValue]="'fuel'">Fuel</option>
                    <option [ngValue]="'electricity'">Electricity</option>
                    <option [ngValue]="'mobile'">Mobile Emissions</option>
                    <option [ngValue]="'fugitive'">Fugitive Emissions</option>
                    <option [ngValue]="'custom'">Custom</option>
                </select>
            </div>
        </div>
    </div>

    <div class="form-section" *ngIf="data.energyType == 'fuel'">
        <div class="form-group">
            <label for="{{'energySource'+modId+index}}">Emission Source</label>
            <div class="input-group">
                <select name="{{'energySource'+modId+index}}" class="form-control" id="{{'energySource'+modId+index}}"
                    [(ngModel)]="data.energySource" (focus)="focusField('energySource')" (change)="setFuelOptions()"
                    [required]="true" [disabled]="!selected">
                    <option *ngFor="let option of otherFuels" [ngValue]="option.energySource">
                        {{option.energySource}}</option>
                </select>
            </div>
        </div>
    </div>

    <div class="form-section" *ngIf="data.energyType == 'fugitive'">
        <div class="form-group">
            <label for="{{'energySource'+modId+index}}">Fugitive Emission Source</label>
            <div class="input-group">
                <select name="{{'energySource'+modId+index}}" class="form-control" id="{{'energySource'+modId+index}}"
                    [(ngModel)]="data.energySource" (focus)="focusField('energySource')" (change)="setFugitiveOptions()"
                    [required]="true" [disabled]="!selected">
                    <option *ngFor="let option of fugitives" [ngValue]="option.energySource">
                        {{option.energySource}}</option>
                </select>
            </div>
        </div>
    </div>

    <div class="form-section" *ngIf="data.energyType == 'custom'">
        <div class="form-group">
            <label for="{{'energySource'+modId+index}}">Emission Source</label>
            <div class="input-group">
                <select name="{{'energySource'+modId+index}}" class="form-control" id="{{'energySource'+modId+index}}"
                    [(ngModel)]="data.energySource" (focus)="focusField('energySource')" (change)="setCustomOptions()"
                    [required]="true" [disabled]="!selected">
                    <option *ngFor="let option of customEmissions" [ngValue]="option.energySource">
                        {{option.energySource}}
                    </option>
                </select>
            </div>
        </div>
    </div>

    <div class="form-section" *ngIf="data.energyType == 'mobile'">
        <div class="form-group">
            <label for="{{'energySource'+modId+index}}">Emission Source</label>
            <div class="input-group">
                <select name="{{'energySource'+modId+index}}" class="form-control" id="{{'energySource'+modId+index}}"
                    [(ngModel)]="data.energySource" (focus)="focusField('energySource')" (change)="setMobileOptions()"
                    [required]="true" [disabled]="!selected">
                    <option *ngFor="let option of mobileEmissions" [ngValue]="option.energySource">
                        {{option.energySource}}</option>
                </select>
            </div>
        </div>
    </div>


    <div class="form-section" *ngIf="data.energyType == 'fuel'">
        <div class="form-group">
            <label for="{{'fuelType'+modId+index}}">Fuel Type</label>
            <div class="input-group">
                <select name="{{'fuelType'+modId+index}}" class="form-control" id="{{'fuelType'+modId+index}}"
                    [(ngModel)]="data.fuelType" (focus)="focusField('fuelType')" (change)="setFuel()" [required]="true"
                    [disabled]="!selected">
                    <option *ngFor="let option of fuelOptions" [ngValue]="option.fuelType">{{option.fuelType}}
                    </option>
                </select>
            </div>
        </div>
    </div>

    <div class="form-section" *ngIf="data.energyType == 'mobile'">
        <div class="form-group">
            <label for="{{'fuelType'+modId+index}}">Mobile Emission Type</label>
            <div class="input-group">
                <select *ngIf="data.energySource != 'Known Distance'" name="{{'mobileType'+modId+index}}"
                    class="form-control" id="{{'mobileType'+modId+index}}" [(ngModel)]="data.mobileType"
                    (change)="setMobile()" [required]="true" [disabled]="!selected">
                    <option *ngFor="let option of mobileOptions" [ngValue]="option.mobileType">{{option.mobileType}}
                    </option>
                </select>
                <select *ngIf="data.energySource == 'Known Distance'" name="{{'mobileType'+modId+index}}"
                    class="form-control" id="{{'mobileType'+modId+index}}" [(ngModel)]="data.mobileType"
                    (change)="setMobile()" [required]="true" [disabled]="!selected">
                    <optgroup label="Commuter">
                        <option *ngFor="let option of mobileOptions | slice:0:12" [ngValue]="option.mobileType">
                            {{option.mobileType}}
                        </option>
                    </optgroup>
                    <optgroup label="Freight">
                        <option *ngFor="let option of mobileOptions | slice:12:16" [ngValue]="option.mobileType">
                            {{option.mobileType}}
                        </option>
                    </optgroup>
                </select>
            </div>
        </div>
    </div>


    <div class="form-section" *ngIf="data.energyType == 'electricity'">
        <div class="form-group">
            <label for="{{'zipcode'+modId+index}}">Zipcode</label>
            <div class="input-group">
                <input name="{{'zipcode'+modId+index}}" type="text" class="form-control" id="{{'zipcode'+modId+index}}"
                    [required]="true" [disabled]="!selected" (input)="setZipcode()" [(ngModel)]="data.zipcode"
                    [required]="true" (focus)="focusField('zipcode')">
            </div>
        </div>

        <ng-container *ngIf="zipCodeSubRegionData">
            <div class="form-group">
                <label for="{{'eGridSubregion'+modId+index}}">eGRID Subregion</label>
                <div *ngIf="zipCodeSubRegionData.length > 1" class="input-group">
                    <select name="{{'eGridSubregion'+modId+index}}" class="form-control"
                        id="{{'eGridSubregion'+modId+index}}" [(ngModel)]="data.eGridSubregion"
                        (change)="setSubRegionEmissionsOutput()" [required]="true"
                        (focus)="focusField('eGridSubregion')">
                        <option *ngFor="let subregion of zipCodeSubRegionData" [ngValue]="subregion">{{subregion}}
                        </option>
                    </select>
                </div>
                <div *ngIf="hasValidSubRegion && zipCodeSubRegionData.length < 2" class="text-center small">
                    {{data.eGridSubregion}}
                </div>
                <div *ngIf="!hasValidSubRegion || !data.eGridSubregion" class="text-center small">
                    <strong>&mdash; &mdash;</strong>
                </div>
            </div>

            <a class="click-link small form-text"
                [ngClass]="{'disabled-link': !data.selectedEmissionsMarket || (data.selectedEmissionsMarket && data.selectedEmissionsMarket.co2Emissions === undefined)}"
                (click)="openMarketEmissionsModal()">View Emissions Rates
            </a>

            <div class="form-group">
                <label for="{{'factors'+modId+index}}">Emission Factors</label>
                <div class="input-group">
                    <select name="{{'factors'+modId+index}}" class="form-control" id="{{'factors'+modId+index}}"
                        [(ngModel)]="data.emissionFactors" [required]="true"
                        (change)="changeElectricityEmissionsFactor(data.emissionFactors)"
                        (focus)="focusField('factors')">
                        <option value="Location">Location</option>
                        <option value="Residual">Market (Residual Mix)</option>
                        <option *ngIf="hasProjectedEmissions" value="Projection">Projection</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="{{'market'+modId+index}}">Emission Rates</label>
                <div class="input-group">
                    <select [disabled]="marketEmissionsOptions.length <= 1 || !selected" name="{{'market'+modId+index}}"
                        class="form-control" id="{{'market'+modId+index}}" [(ngModel)]="data.selectedEmissionsMarket"
                        (change)="setEmissionsFactor()" [required]="true" (focus)="focusField('market')">
                        <option *ngFor="let locationEmission of data.selectedEmissionsMarket.locationEmissionRates"
                            [ngValue]="locationEmission">
                            {{locationEmission.year}} - {{locationEmission.co2Emissions | number:"1.0-2"}} kg
                            CO<sub>2</sub>/kWh
                        </option>

                        <option *ngFor="let emissionsOption of selectedEmissions"
                            [ngValue]="emissionsOption">
                            {{emissionsOption.display}}
                        </option>

                        <!-- <optgroup *ngIf="selectedSubregionEmissions.locationEmissionRates.length != 0"
                            label="Location-Based Emissions">
                            <option
                                *ngFor="let marketEmissionsOption of selectedSubregionEmissions.locationEmissionRates"
                                [ngValue]="marketEmissionsOption">
                                {{marketEmissionsOption.display}}
                            </option>
                        <optgroup *ngIf="selectedSubregionEmissions.residualEmissionRates.length != 0"
                            label="Market-Based Emissions (Residual Mix)">
                            <option
                                *ngFor="let marketEmissionsOption of selectedSubregionEmissions.residualEmissionRates"
                                [ngValue]="marketEmissionsOption">
                                {{marketEmissionsOption.display}}
                            </option> -->
                    </select>
                </div>
            </div>

        </ng-container>


    </div>

    <div class="form-section" *ngIf="data.energyType == 'fugitive'">
        <div class="form-group">
            <label for="{{'fugitiveType'+modId+index}}">Fugitive Type</label>
            <div class="input-group">
                <select name="{{'fugitiveType'+modId+index}}" class="form-control" id="{{'fugitiveType'+modId+index}}"
                    [(ngModel)]="data.fugitiveType" (change)="setFugitive()" [required]="true" [disabled]="!selected">
                    <option *ngFor="let option of fugitiveOptions" [ngValue]="option.fugitiveType">
                        {{option.fugitiveType}}
                    </option>
                </select>
            </div>
        </div>
    </div>

    <div class="form-group" *ngIf="data.energySource == 'Fugitive' || data.energyType == 'fugitive'">
        <label for="{{'totalEmissionOutputRate'+modId+index}}">Global
            Warming Potential</label>
        <div class="input-group">
            <input name="{{'totalEmissionOutputRate'+modId+index}}" type="number" step="any" class="form-control"
                id="{{'totalEmissionOutputRate'+modId+index}}" (input)="save()"
                (focus)="focusField('totalEmissionOutputRate')" [(ngModel)]="data.totalEmissionOutputRate"
                onfocus="this.select();" [required]="true" [disabled]="!selected">
        </div>
    </div>

    <div class="form-group" *ngIf="data.energyType=='custom' && data.energySource != 'Fugitive'">
        <label for="{{'carbonOutput'+modId+index}}">CO<sub>2</sub> Emissions</label>
        <div class="input-group">
            <input name="{{'carbonOutput'+modId+index}}" type="number" step="any" class="form-control"
                id="{{'carbonOutput'+modId+index}}" (input)="save()" [(ngModel)]="data.carbonFactor"
                onfocus="this.select();" [required]="true" [disabled]="!selected">
            <span class="input-group-addon units small" *ngIf="data.energyType != 'fugitive'">kg CO<sub>2</sub>/
                <span>{{data.customUnits}}</span>
            </span>
        </div>
    </div>
    <div class="form-group" *ngIf="data.energyType=='custom' && data.energySource != 'Fugitive'">
        <label for="{{'methaneOutput'+modId+index}}">CH<sub>4</sub> Emissions</label>
        <div class="input-group">
            <input name="{{'methaneOutput'+modId+index}}" type="number" step="any" class="form-control"
                id="{{'methaneOutput'+modId+index}}" (input)="save()" onfocus="this.select();" [required]="true"
                [(ngModel)]="data.methaneFactor" [disabled]="!selected">
            <span class="input-group-addon units small" *ngIf="data.energyType != 'fugitive'">g CH<sub>4</sub>/
                <span>{{data.customUnits}}</span>
            </span>
        </div>
    </div>
    <div class="form-group" *ngIf="data.energyType=='custom' && data.energySource != 'Fugitive'">
        <label for="{{'nitrousOutput'+modId+index}}">N<sub>2</sub>O Emissions</label>
        <div class="input-group">
            <input name="{{'nitrousOutput'+modId+index}}" type="number" step="any" class="form-control"
                id="{{'nitrousOutput'+modId+index}}" (input)="save()" onfocus="this.select();" [required]="true"
                [(ngModel)]="data.nitrousFactor" [disabled]="!selected">
            <span class="input-group-addon units small" *ngIf="data.energyType != 'fugitive'">g N<sub>2</sub>O/
                <span>{{data.customUnits}}</span>
            </span>
        </div>
    </div>

    <div class="form-group">
        <label for="{{'energyUse'+modId+index}}">
            <span
                *ngIf="data.energyType == 'fuel' || (data.energyType == 'mobile' && data.energySource != 'Known Distance')">Fuel
                Use</span>
            <span *ngIf="data.energyType == 'electricity'">Electricity Use</span>
            <span *ngIf="data.energyType == 'fugitive' || data.energySource == 'Fugitive'">Gas Purchased</span>
            <span *ngIf="data.energyType == 'custom' && data.energySource != 'Fugitive'">Energy Use</span>
            <span *ngIf="data.energyType == 'mobile' && data.energySource == 'Known Distance'">Distance</span>
        </label>
        <div class="input-group">
            <input name="{{'energyUse'+modId+index}}" type="number" step="any" class="form-control"
                (focus)="focusField(data.energyType)" id="{{'energyUse'+modId+index}}" (input)="save()"
                [(ngModel)]="data.energyUse" onfocus="this.select();" [required]="true" [disabled]="!selected">
            <span class="input-group-addon units" *ngIf="data.energyType == 'fuel'">{{energyUnits}}</span>
            <span class="input-group-addon units" *ngIf="data.energyType == 'electricity'">MWh</span>
            <span class="input-group-addon units" *ngIf="data.energyType == 'mobile'">{{mobileUnits}}</span>
            <span class="input-group-addon units" *ngIf="data.energyType == 'fugitive'">{{fugitiveUnits}}</span>
            <span class="input-group-addon units" *ngIf="data.energyType == 'custom'">{{data.customUnits}}</span>
        </div>
    </div>
    <div *ngIf="data.energyType != 'custom' && data.energyType != 'fugitive'" class="d-flex w-100">
        <label class="w-50">
            Carbon Emissions
        </label>
        <label class="w-50 text-center" *ngIf="data.energyType == 'fuel'">
            {{data.carbonFactor | number:"0.0-2"}} kg CO<sub>2</sub>/{{energyUnits}}
        </label>
        <label class="w-50 text-center" *ngIf="data.energyType == 'electricity'">
            {{data.carbonFactor | number:"0.0-2"}} kg CO<sub>2</sub>/MWh
        </label>
        <label class="w-50 text-center" *ngIf="data.energyType == 'mobile'">
            {{data.carbonFactor | number:"0.0-2"}} kg CO<sub>2</sub>/{{mobileUnits}}
        </label>
    </div>
    <div *ngIf="data.energyType != 'custom' && data.energyType != 'fugitive'" class="d-flex w-100">
        <label class="w-50">
            Methane Emissions
        </label>
        <label class="w-50 text-center" *ngIf="data.energyType == 'fuel'">
            {{data.methaneFactor | number:"0.0-2"}} g CH<sub>4</sub>/{{energyUnits}}
        </label>
        <label class="w-50 text-center" *ngIf="data.energyType == 'electricity'">
            {{data.methaneFactor | number:"0.0-2"}} kg CH<sub>4</sub>/MWh
        </label>
        <label class="w-50 text-center" *ngIf="data.energyType == 'mobile'">
            {{data.methaneFactor | number:"0.0-2"}} kg CH<sub>4</sub>/{{mobileUnits}}
        </label>
    </div>
    <div *ngIf="data.energyType != 'custom' && data.energyType != 'fugitive'" class="d-flex w-100">
        <label class="w-50">
            Nitrous Oxide Emissions
        </label>
        <label class="w-50 text-center" *ngIf="data.energyType == 'fuel'">
            {{data.nitrousFactor | number:"0.0-2"}} g NO<sub>2</sub>/{{energyUnits}}
        </label>
        <label class="w-50 text-center" *ngIf="data.energyType == 'electricity'">
            {{data.nitrousFactor | number:"0.0-2"}} kg NO<sub>2</sub>/MWh
        </label>
        <label class="w-50 text-center" *ngIf="data.energyType == 'mobile'">
            {{data.nitrousFactor | number:"0.0-2"}} kg NO<sub>2</sub>/{{mobileUnits}}
        </label>
    </div>
</form>


<div *ngIf="selectedSubregionEmissions" bsModal #marketEmissionsModal="bs-modal" class="modal fade" tabindex="-1"
    role="dialog" aria-labelledby="marketEmissionsModalLabel" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="card">
                <div class="card-header">
                    <span class="card-header-text">
                        {{data.eGridSubregion}} Emission Rates
                    </span>
                    <button class="close" aria-label="Close" (click)="closeMarketEmissionsModal()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="scroll-item px-4">
                    <app-market-emissions-table
                        [currentEmissionsMarket]="selectedSubregionEmissions"></app-market-emissions-table>
                </div>
            </div>
        </div>
    </div>
</div>