<nav class="navbar navbar-dark bg-general">
    <div class="navbar-brand p-0">
        <img src="assets/co2-savings.png" class="icon-img">
        Carbon Emissions Calculator
    </div>

    <div class="form-inline">
        <div class="pr-2">
            <button class="btn btn-secondary my-2 my-sm-0" (click)="resetData()">Reset Data</button>
        </div>
        <div class="pr-2">
            <button class="btn btn-primary my-2 my-sm-0" (click)="generateExample()">Use Example</button>
        </div>
        <button class="btn btn-info my-2 my-sm-0" (click)="toggleUnitsModal()">&#x2699;</button>
    </div>
</nav>




<!--bulk delete-->
<div class="popup" [class.open]="displayUnitsModal">
    <div class="popup-header text-center" *ngIf="displayUnitsModal">Select Units of Measure
        <button class="item-right" (click)="toggleUnitsModal()">x</button>
    </div>
    <div class="popup-body text-center">
        <div class="btn-group">
            <button class="btn" [ngClass]="{'btn-secondary': energyUnits == 'MMBtu'}" (click)="setUnits('MMBtu')">MMBtu</button>
            <button class="btn" [ngClass]="{'btn-secondary': energyUnits == 'GJ'}" (click)="setUnits('GJ')">GJ</button>
        </div>
    </div>
</div>