<nav class="navbar navbar-dark bg-general">
    <div class="navbar-brand p-0">
        <img src="assets/co2-savings.png" class="icon-img">
        Carbon Emissions Calculator
    </div>

    <div class="form-inline">
        <div class="pr-2">
            <button class="btn btn-secondary my-2 my-sm-0" (click)="resetData()">Reset Data</button>
        </div>
        <div class="pr-2">
            <button class="btn btn-primary my-2 my-sm-0" (click)="generateExample()">Use Example</button>
        </div>
        <button class="btn btn-info my-2 my-sm-0" (click)="toggleUnitsModal()">&#x2699;</button>
    </div>
</nav>




<!--bulk delete-->
<div class="popup" [class.open]="displayUnitsModal">
    <div class="popup-header text-center" *ngIf="displayUnitsModal">Select Units of Measure
        <button class="item-right" (click)="toggleUnitsModal()">x</button>
    </div>
    <div class="popup-body text-center">
        <div class="btn-group">
            <button class="btn" [ngClass]="{'btn-secondary': energyUnits == 'MMBtu'}"
                (click)="setUnits('MMBtu')">U.S.</button>
            <button class="btn" [ngClass]="{'btn-secondary': energyUnits == 'GJ'}"
                (click)="setUnits('GJ')">Metric</button>
        </div>

        <div class="form-group m-3 mt-5 d-flex flex-column align-items-center">
            <label class="mb-2 font-weight-bold">IPCC Assessment Report Version</label>
            <div class="d-flex justify-content-center align-items-center gap-5 py-2 px-3">
                   <label class="mb-0 d-flex align-items-center mr-4">
                       <input class="cursor-pointer p-2" type="radio" name="gwpVersion" value="gwp_ar4" [(ngModel)]="gwpVersion"
                           (change)="setGwpVersion()"> 
                           <span class="ml-1">AR4</span>
                   </label>
                  <label class="mb-0 d-flex align-items-center mr-4">
                       <input class="cursor-pointer p-2" type="radio" name="gwpVersion" value="gwp_ar5" [(ngModel)]="gwpVersion"
                           (change)="setGwpVersion()"> 
                           <span class="ml-1">AR5</span>
                   </label>
                  <label class="mb-0 d-flex align-items-center mr-4">
                       <input class="cursor-pointer p-2" type="radio" name="gwpVersion" value="gwp_ar6" [(ngModel)]="gwpVersion"
                           (change)="setGwpVersion()">
                           <span class="ml-1">AR6</span>
                   </label>
            </div>
        </div>
    </div>
</div>