.bg-general{
    background-color: #145A32;
}

.icon-img{
    height: 70px;
    background-color: white;
    border-radius: 1rem;
}

.navbar-brand{
    /* text-transform: uppercase; */
    display: inline-block;
    /* letter-spacing: 4px; */
    font-size: 1.5rem;
}

.cursor-pointer:hover {
    cursor: pointer;
}



.popup {
    border-style: solid;
    border: 1px solid #ffffff;
    border-radius: 3px;
    box-shadow: 0px 0px 10px #0000003d;
    z-index: 9999;
  }
  .popup-header {
    color: white;
    padding: 10px;
    background-color: #2c386b;
    font-weight: bold;
    border-radius: 3px 3px 0 0;
  }
  .popup-header button {
    border: none;
    background-color: transparent;
    color: white;
    font-weight: bold;
  }
  .popup-body {
    background-color: #ffffff;
    color: black;
    padding: 10px;
  }
  .popup-footer {
    padding: 0px 10px;
  }
  .popup-footer .btn:first-child {
    margin-right: 10px;
  }
  .popup {
    transform: scale(0);
    position: fixed;
    width: 500px;
    left: calc(50% - 250px);
    top: 30px;
    background-color: white;
    transition: 0.2s transform;
  }
  .popup.open {
    transform: scale(1);
  }

  .item-right{
      float: right;
  }

  .btn-group .btn{
      border: solid;
  }

  .btn-group .btn.btn-secondary{
      border-color: #6c757d;
  }