<div class="container-fluid d-flex flex-column" #contentContainer>
  <div #bannerElement class="p-0">
    <app-banner></app-banner>
  </div>
  <div class="p-0 flex-grow-1">
    <div class="row no-gutters h-100">
      <div class="mod-panel col-4 pt-2 scroll-item" [ngStyle]="{'height.px': containerHeight}"
        [ngClass]="{'modification': baselineSelected, 'modal-open': isModalOpen == true }" 
        (click)="selectBaseline()">
        <app-energy-use-forms [isBaseline]="true" [selected]="baselineSelected"></app-energy-use-forms>
      </div>
      <div class="mod-panel col-4 pt-2 scroll-item" [ngStyle]="{'height.px': containerHeight}"
        [ngClass]="{'modification': !baselineSelected, 'modal-open': isModalOpen == true }" (click)="selectModification()">
        <app-energy-use-forms [isBaseline]="false" [selected]="!baselineSelected"></app-energy-use-forms>
      </div>

      <div class="col-4">
        <div class="d-flex flex-column scroll-item" [ngStyle]="{'height.px': containerHeight}">
          <div #panelHeader class="d-flex flex-wrap tabs primary mr-2 ml-2 sticky-top">
            <div class="w-50 panel-tab-item" [ngClass]="{'active': tabSelect == 'results'}" (click)="setTab('results')">
              <a>Results</a>
            </div>
            <div class="w-50 panel-tab-item" [ngClass]="{'active': tabSelect == 'help'}" (click)="setTab('help')">
              <a>Help</a>
            </div>
          </div>
          <div class="mr-2 ml-2 p-2">
            <app-results *ngIf="tabSelect == 'results'"></app-results>
            <app-help *ngIf="tabSelect == 'help'"></app-help>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>